:root {
    --valley-grey: #F4F4F5;
    --valley-black: #222222;
    --valley-red: #E02C35;
    --valley-white: #FDFAF6;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' serif;
}

section {
    padding: 0 1rem;
    margin: 0 1rem 3rem 1rem;
}

.nike-img {
    position: relative;
    width: 100%;
    z-index: 300;
}

.background-color {
    background-color: var(--valley-red);
    height: 3.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.6rem 5vw;
    z-index: 200;
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    gap: 30%;
    padding: 0.5rem 0;
    height: 3.5rem;
    z-index: 800;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}

.tags div {
    background-color: var(--valley-grey);
    border: 1px solid darkgray;
    padding: 3px;
    font-size: 16px;
}

.hamburger {
    fill: var(--valley-white);
    cursor: pointer;
}

.sect-gif {
    display: flex;
    justify-content: center;
}

.gifje {
    width: 70%;
}

p {
    font-size: 16px;
    margin: 1rem 2rem 1rem 0.5rem;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 32px;
}

.facts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-facts {
    position: relative;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #222222;
    color: var(--valley-white);
    width: 14rem;
    height: 13rem;
    margin: .5rem 2rem .5rem 2rem;
    padding: 1rem;
}

.third-fact {
    height: 15rem;
}

.div-facts h4 {
    font-size: 37px;
}

.div-facts p {
    margin: 0 0 1rem 0;
}

.kit-design {
    margin: 0 0 4rem 0;
    padding: 0;
}

.kit-design-img {
    width: 100%;
}

.text-below-img {
    font-size: 12px;
    margin: 0.2rem 0rem 1rem 0rem;
    padding: 0 1rem;
}

.carousel-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 20rem;
}

.sliding {
    display: flex;
    justify-content: center;
}

.slider {
    max-width: 20rem;
}

.slider a {
    left: auto;
    background-color: #eee;
    text-decoration: none;
    padding: 1rem;
    color: var(--valley-black);
    border-radius: 10px 10px 0 0;
}

.slider img {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slide-1 img {
    width: 20rem;
    height: auto;
}

.slides {
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;



    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}

.quote-txt {
    font-size: 17px;
}

.quote-name {
    color: var(--valley-red);
    font-size: 13px;
}

.two-pictures {
    display: flex;
    margin: 0 0 3rem 0;
    padding: 0;
    justify-content: space-around;
}

.miedema {
    width: 50%;
}

.worn {
    width: 32%;
}

.three-pics {
    padding: 0;
}

.football-man {
    width: 100%;
}

.women-football {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.women-football img {
    width: 48%;
}

.contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--valley-grey);
    margin: 0;
    padding: 2rem 2rem;
}

button {
    background-color: var(--valley-red);
    width: 5rem;
    height: 2rem;
    box-shadow: none;
    border: none;
    border-radius: 18px 18px 18px 18px;
    color: var(--valley-white);
    cursor: pointer;
}

.persons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.persons img {
    width: 100%;
}

.naam {
    color: var(--valley-red);
    margin: .2rem 0 0 0;
}

.functie {
    font-weight: bold;
    margin: .2rem 0 0 0;
}

.email {
    margin: .5rem 0 0 0;
}

.modal_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 20000;
    transition: opacity 0.5s ease;
}

.modal_container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: var(--valley-white);
    border-radius: 5px;
    padding: 30px 50px;
    width: 90%;
    max-width: 22rem;
    display: flex;
    flex-direction: column;

}

.form-intro {
    margin: .5rem 0 1rem 0;
    padding: 0;
}

#send {
    background-color: rgb(28, 142, 28);
}

.actions {
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: space-between;
}

input {
    border: none;
    border-bottom: 2px solid #7E7E7E;
    margin: 1rem 0 1rem 0;
    background-color: var(--valley-white);
}

.add-com {
    position: relative;
    border: 2px solid #7E7E7E;
    height: 5rem;
    width: 100%;
    margin: 1rem 0 0 0;
}

input::placeholder {
    color: #7E7E7E;
}

.add-com::placeholder {
    top: 0;
    position: absolute;
}

.correct {
    color: var(--valley-red);
    margin: 0;
    font-size: 12px;
}